@font-face {
    font-family: 'Muller';
    src: url('MullerUltraLight.eot');
    src: local('Muller UltraLight'), local('MullerUltraLight'),
        url('MullerUltraLight.eot?#iefix') format('embedded-opentype'),
        url('MullerUltraLight.woff2') format('woff2'),
        url('MullerUltraLight.woff') format('woff'),
        url('MullerUltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}


*{
    box-sizing: border-box;
}
body{
    background-color: #E5E5E5;
}
a{
    text-decoration: none;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;

}
img{
    max-width: 100%;
}
.btn:hover{
    background-color: #CC9933;
    color: #FFFFFF;
}
.btn:focus{
    color: #FFFFFF;
    background-color: #CC9933;
}
.btn:active{
    background-color: #CC9933;
    color: #FFFFFF;
}

/*heading*/


.heading{
    margin-top: 0;
    margin-bottom: 20px;
    padding-left: 40px;
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color:#333;
}
.container{
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
}
.header{
    padding-top: 30px;
}
.header__logo__contain{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.header__logo__contain__right{
    display: flex;
    align-items: center;
}
.header__logo__contain__left{
    display: flex;
    align-items: center;
}
.header__logo__contain__right__link:hover{
    color: #CC9933;
}
.header__logo__contain__right__link:focus{
    color: #CC9933;
}
.header__logo__contain__right__link:active{
    color: #A47312;
}
.header__logo__contain__right__link{
    margin-left: 40px;
    font-family: 'Muller';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #666;
}
.header__logo__contain__left__link:hover{
    color: #F0BF5F;
}
.header__logo__contain__left__link:focus{
    color: #CC9933;
}
.header__logo__contain__left__link:active{
    color: #A47312;
}
.header__logo__contain__left__link{
    margin-left: 7px;
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color:#CC9933;
}
.nav{
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    border: 0px solid red;
    border-radius: 15px;
}
.nav__right__list{
    display: flex;
    margin-left: 40px;
}
.nav__right__list__item:not(:last-child){
    margin-right: 40px;
}
.nav__right__list__item{
    margin-top: 27px;
    margin-bottom: 27px;
}
.nav__right__list__item__link:hover{
    color: #CC9933;
}
.nav__right__list__item__link:focus{
    color: #CC9933;
}
.nav__right__list__item__link:active{
    color: #A47312;
}
.nav__right__list__item__link{
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #666;
}
.nav__left{
    display: flex;
    align-items: center;
}
.btn{
    margin-right: 50px;
    padding: 10px 20px;
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    border: 2px solid #CC9933;
    border-radius: 15px;
    color: #CC9933;
}


/*special offers*/


.offers{
    margin-top: 70px;
}
.offers__content{
    display: flex;
}
.offers__content__right__offer1{
    background-image: url('../img/Rectangle\ 14.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 573px;
    height: 258px;
}
.offer2{
    margin-top: 24px;
    background:url('../img/Rectangle\ 15.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 573px;
    height: 258px;
}
.offers__info{
    padding: 40px 108px 40px 45px;
}
.offers__info__heading{
    margin-top: 0;
    margin-bottom: 0;
    max-width: 420px;
    font-family: 'Muller';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    color: #FFFFFF;
}
.offers__info__prise{
    margin-top: 15px;
    margin-bottom: 47px;
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color:#FFFFFF;
    opacity: 0.8;
}
.offers__info__links__link{
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #CC9933;
}
.offers__info__links__link-img{
    margin-top: 47px;
}
.offers__info__links{
    display: flex;
    align-items: center;
}
.offers__left{
    margin-left: 24px;
    background-image: url('../img/33\ 1.jpg');
    background-repeat: no-repeat;
    height: 573px;
    width: 540px;
}
.offers__content__left{
    padding: 212px 229px 40px 45px;
}
.offers__info__heading-left{
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Muller';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    color: #FFFFFF;
}
.offers__info__prise-left{
    margin-top: 15px;
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    color: #FFFFFF;
    opacity: 0.8;
}
.offers__info__links__link-left{
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #F0BF5F;
}
.about{
    margin-top: 70px;
}
.about__info{
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    color: #000000;
}
.about__container{
    max-width: 888px;
}


/*services*/


.services{
    margin-top: 70px;
}
.services__content{
    display: flex;
    justify-content: space-between;

    flex-wrap: wrap;
}
.services__content__item{
    max-width: 573px;
    background-color: white;
    border: 0px solid red;
    border-radius: 15px;
}
.services__content__item:nth-child(n+3){
    margin-top: 24px;
}
.services__content__link{
    margin-top: 26px;
    margin-left: 45px;
    display: flex;
    align-items: center;
}
.services__content__link__text{
    margin-right: 5px;
    font-family: 'Muller';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 200%;
    color:#CC9933;
}
.services__content__text{
    margin-top: 0;
    margin-left: 45px;
    margin-bottom: 35px;
    max-width: 402px;
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
}


/*benefits*/


.benefits{
    margin-top: 70px;
}
.benefits__content{
    display: flex;
    flex-wrap: wrap;

}
.benefits__content__item{
    width: 276px;
    height: 276px;
    padding-left: 40px;
    padding-bottom: 32px;
    padding-top: 40px;
    padding-left: 40px;
    border: 0px solid red;
    border-radius: 15px;
    background-color: white;
}
.benefits__content__item:not(:nth-child(4n)){
    margin-right: 22px;
}
.benefits__content__item:nth-child(n+5){
    margin-top:22px;
}
.benefits__content__item__text{
    margin: 0;
    margin-top: 10px;
    max-width: 189px;
   
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
}


/*accommadation*/


.accommodation{
    margin-top: 70px;
}
.accommodation__content{
    display: flex;
    flex-wrap: wrap;
}
.accommodation__content__item{
    background-color: white;
    border: 0px solid red;
    border-radius: 15px;
}
.accommodation__content__item:not(:nth-child(3n)){
    margin-right: 24px;
}
.accommodation__content__item:nth-child(n+4){
    margin-top: 24px;
}
.accommodation__content__prise{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.accommodation__content__prise__info{
    display: flex;
}
.accommodation__content__info{
    margin-top: 32px;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 45px;
}
.accommodation__content__star{
    display: inline-block;
	font-size: 0;
}
.accommodation__content__star span{
    padding: 0;
	font-size: 20px;
	line-height: 1;
	color: lightgrey;
}
.accommodation__content__star > span::before{
    content: '★';
}
.accommodation__content__star > span.accommodation__content__star__active{
    color: gold;
}
.accommodation__content__description{
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #999999;
}
.accommodation__content__text__prise{
    margin-top: 0;
    margin-right: 4px;
    margin-left: 4px;
    margin-bottom: 0;
    font-family: 'Muller';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;

}
.accommodation__content__text{
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
}
.accommodation__content__text__margin{
    margin-top: 15px;
    margin-bottom: 15px;
}
.accommodation__content__description__margin{
    margin-bottom: 33px;
}

.accomatadion__content__link__conteiner{
    background-image: url('../img/41.png');
    background-repeat: no-repeat;
    width:374px;
    height: 440px;
}
.accommadation__content__link__info{
    display: flex;
    align-items: center;
    padding: 373px 70px 27px 70px;
}
.accommodation__content__link{
    font-family: 'Muller';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 200%;
    color: white;
}


/*contacts*/


.contacts{
    margin-top: 70px;
}
.contacts__content{
    display: flex;
    background-color: white;
    padding: 45px;
    border: 0px solid red;
    border-radius: 15px;
}
.contacts__content__info__item{
    display: flex;
}
.contacts__info__main{
    margin-left: 47px;
    padding-top: 25px;
    padding-bottom: 23px;
    display: flex;
    align-items: flex-start;
    flex-flow: column wrap;
    border-bottom: 1px solid #E9E9E9;
}
.contacts__info__heading{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 25px;
    min-width: 100px;
    font-family: 'Muller';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
}
.contacts__info__text{
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}
.contacts__info__tel{
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #CC9933;
}
.contacts__info__mail{
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #CC9933;
}
.contacts-info-link{
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #999999;
}
.contacts__info__text{
    max-width: 218px;
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
}
.btn-info{
    margin-top: 60px;
}
.contacts__content__img{
    margin-left: 52px;
}


/* footer*/ 


.footer__container {
    position: relative;
    width: 1170px;
    height: 341px;
    margin-top: 40px;
    background: #333333;
    border-radius: 15px;
}

.footer__content {
    padding: 45px 45px 45px;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.footer__background {
    position: absolute;
    left: 738px;
    top: 112px;
}

.footer__content__info_block {
    width: 302px;
}

.footer__content__info_block__text {
    margin: 0 0 37px;
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 190%;
    color: #FFFFFF;
}

.footer__content__info_block__acception {
    margin: 3px 0 0;
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #CC9933;
}

.footer__content__contacts_block {
    width: 400px;
    margin-right: 145px;
}

.footer__content__contacts_block__address {
    margin: 0;
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
}

.footer__content__contacts_block__tel {
    margin: 15px 0 0;
    width: 145px;
}

.footer__content__contacts_block__tel a {
    display: block;
    padding: 2px;
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #CC9933;
}

.footer__content__contacts_block__mail {
    margin: 15px 0 0;
    width: 145px;
}

.footer__content__contacts_block__mail a {
    display: block;
    padding: 2px;
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #CC9933;
}

.footer__content__contacts_block__mail a:hover,
.footer__content__contacts_block__tel a:hover {
    color: #F0BF5F
}

.footer__content__contacts_block__mail a:focus,
.footer__content__contacts_block__tel a:focus {
    border: 1px solid #CC9933;
    outline: none;
}

.footer__content__contacts_block__mail a:active,
.footer__content__contacts_block__tel a:active {
    color: #A47312;
    border: none;
}

.footer__content__soc_block {
    width: 25px;
}

.footer__content__soc_block img:not(:last-child) {
    margin-bottom: 17px;
}